.button {
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    background-color: aliceblue;
    border: 1px solid grey;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-right: 10px;
}

.button:active {
    background-color: blue;
}